* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: overlay;
}

/* ::-webkit-scrollbar {
  width: 0.25rem;
  height: 0;
} */

/* ::-webkit-scrollbar-thumb {
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(178, 178, 179);
} */

.table thead {
  width: calc(100% - 1rem);
  table-layout: fixed;
  display: table;
}
.table thead tr th {
  border-bottom: none;
  font-weight: normal;
}
.table tbody {
  width: 100%;
  height: 20rem;
  display: block;
  overflow: scroll;
}
.table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.table tbody tr td img {
  height: 5rem;
  object-fit: contain;
}
