header {
    background-color: $background-color-01;
    h3 {
        margin-bottom: 0;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        // font-family: $logo-font;
    }
    i {
        color: white;
        font-size: 1.5rem;
    }
    .switch {
        width: 3rem;
        height: 1.5rem;
        position: relative;
        margin-right: 2rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .switch-btn {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        margin: 0.125rem;
        border-radius: 100%;
        background-color: white;
    }
}
